<div data-ng-controller="CustomerSupplierCtrl" class="robust-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">Suppliers</h2>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Suppliers</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-6 col-xs-12 topHR-Btn">
        <button type="button" class="btn btn-primary ncs" data-ng-click="showCreatePersonDialog()"><i class="icon-plus-circle"></i> Add New Supplier</button>
      </div>

      <input class="hidden" data-ng-model="targetTableName" data-ng-init="targetTableName='supplier'" placeholder="Name" type="text" tabindex="1">
      <input class="hidden" data-ng-model="personListType" data-ng-init="personListType='supplier'" placeholder="Name" type="text" tabindex="1">

      <div class="modal fade text-xs-left" id="newPersonDialog" role="dialog" data-labelledby="myModalLabel1" aria-hidden="true" sej-person-dialog data-create-event="createPerson"> </div>

      <div class="modal fade text-xs-left" id="deactivateConfirmDialog" role="dialog" data-labelledby="myModalLabel1" aria-hidden="true" data-sej-deactivate-confirm-dialog> </div>

      <p class="m-0">&nbsp;</p>
    </div>

    <div class="content-body">
      <section>
        <div class="row">
          <div class="col-xs-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Suppliers</h4>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse" title="Download Excel"><i class="icon-file-excel-o"></i></a></li>
                    <li><a data-action="reload" title="Print"><i class="icon-print"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body" id="base-style">
                <div class="card-block card-dashboard">
                  <table id="datatable" class="table table-striped table-bordered table-action table-suppliers"> </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>