<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Account</h4>
    </div>
    <form class="form form-horizontal form-account" novalidate>
      <div class="modal-body">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row hidden">
                <label class="col-md-3 label-control">Table Name</label>
                <div class="col-md-9">
                  <input class="form-control" data-ng-model="account.tableName" data-ng-init="account.tableName='account'" placeholder="Name" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control">Name</label>
                <div class="col-md-9">
                  <input class="form-control" data-ng-model="account.name" placeholder="Name" type="text" required data-validation-required-message= "Please enter account name.">
                  <div class="help-block font-small-3"> </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control">Description</label>
                <div class="col-md-9">
                  <textarea data-ng-model="account.description" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 label-control">Category Type</label>
                <div class="col-md-8">
                  <select class="form-control" data-ng-model="account.account_category_type" data-ng-change="getAccountDetailTypeNames()" data-ng-options="categoryName as categoryName for categoryName in accountCategoryTypeNames track by categoryName" required="" aria-invalid="true" data-validation-required-message= "Please select category type.">
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 label-control">Detail Type</label>
                <div class="col-md-8">
                  <select class="form-control" data-ng-model="account.account_detail_type" data-ng-options="detailName as detailName for detailName in accountDetailTypeNames track by detailName" required="" aria-invalid="true" data-validation-required-message= "Please select detail type.">
                  </select>
                </div>
              </div>
              <div class="form-group row hidden">
                <label class="col-md-3 label-control">Balance</label>
                <div class="col-md-9">
                  <input class="form-control" data-ng-model="account.balance" data-ng-init="account.balance='0'" placeholder="Name" type="text">
                </div>
              </div>
              <div class="form-group row hidden">
                <label class="col-md-3 label-control">Foreign Keys</label>
                <div class="col-md-9">
                  <input class="form-control" data-ng-model="account.foreign_keys" placeholder="Name" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8"> </div>
          <div class="col-md-4">
            <fieldset class="form-group has-feedback">
              <div class="help-block font-small-3 errors" data-ng-repeat="errorMessage in accountDialogErrorMessages"> {{ errorMessage }} </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" data-ng-click="bAddNew=false" data-ng-show="!isEditDialog"> <i class="icon-plus-circle"></i> Save & Close</button>
        <button class="btn btn-primary" type="submit" data-ng-click="bAddNew=true" data-ng-show="!isEditDialog"> <i class="icon-plus-circle"></i> Save & New</button>
        <button class="btn btn-primary" type="submit" data-ng-show="isEditDialog"> <i class="icon-edit"></i> Edit </button>
      </div>
    </form>
  </div>
</div>