<div data-ng-controller="NewBillPayment" class="robust-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="content-header-left col-md-9 col-xs-12">
        <h2 class="content-header-title mb-0">Receive Bill Payment</h2>
        <div class="row breadcrumbs-top print-hidden">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a href="#/sales">Sales</a></li>
              <li class="breadcrumb-item active">Receive Bill Payment
              </li>
            </ol>
          </div>
        </div>
      </div>
      
      <div sej-new-expenses-dropdown> </div>

      <div id="selectPersonType" class="slt-open-dd card select-person-type" sej-person-type-dialog> </div>

      <div class="modal fade text-xs-left" id="newPersonDialog" tabindex="-1" role="dialog" data-labelledby="myModalLabel1" aria-hidden="true" data-sej-person-dialog data-create-event="createPerson"> </div>

      <div class="modal fade text-xs-left" id="newAccountDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-sej-account-dialog data-create-event="createAccount"> </div>

      <div class="modal fade text-xs-left" id="deleteConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-sej-delete-confirm-dialog data-delete-event="deleteTransaction" data-target-name="payment"> </div>

      <div class="modal fade text-xs-left" id="zeroWarningDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-sej-trxn-zero-warning-dialog> </div>

      <p class="m-0">&nbsp;</p>
    </div>

    <div class="content-body">
      <section>
        <div class="row">
          <div class="col-xs-12">
            <form class="form form-horizontal" novalidate>
              <div class="card">
                <div class="card-body" id="base-style">
                  <div class="card-block card-dashboard">
                    <div class="row" style="padding-left: 30px; padding-right: 30px; margin-bottom: 20px; margin-top: 30px;">
                      <div class="col-md-12 hidden">
                        <div class="form-group row">
                          <label class="col-md-2 label-control">Transaction Type</label>
                          <div class="col-md-6">
                            <input type="text" class="form-control" data-ng-model="transactionType" data-ng-init="transactionType='bill_payment'"/>
                          </div>
                        </div>
                        <div class="col-md-4 offset-md-4 mbv-1 text-md-right hidden">
                          <div class="input-group">
                            <p class="inpt-grp-addon">Transaction Type</p>
                            <input type="text" tabindex="2" class="form-control" data-ng-model="transaction.transaction.transactionType" data-ng-init="transaction.transaction.transaction_type=103"/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mbv-1 hidden">
                          <div class="input-group">
                            <p class="inpt-grp-addon">Table Name</p>
                            <input type="text" class="form-control" data-ng-model="targetTableName" data-ng-init="targetTableName='customer'"/>
                          </div>
                      </div>
                      <div class="form-group row has-feedback hidden">
                        <label class="col-md-3 label-control"> Person Type </label>
                        <input class="form-control hidden" data-ng-model="personListType" data-ng-init="personListType='supplier'" placeholder="Name" type="text" tabindex="1">
                      </div>
                      <span class="print-show"> <div style="width: 100px; display: inline-block;"> Supplier: </div> <div style=" display: inline-block;"> {{ transaction.transaction.supplier }} </div> </span>
                      <span class="print-show"> <div style="width: 100px; display: inline-block;"> Account: </div> <div style=" display: inline-block;"> {{ transaction.billPayment.account }} </div> </span>
                      <span class="print-show"> <div style="width: 100px; display: inline-block;"> Date: </div> <div style=" display: inline-block;"> {{ transaction.transaction.date }} </div> </span>
                      <div class="col-md-6 mbv-1 mb-1">
                        <select id="personDropdown" placeholder="Select a person..." data-ng-options="supplier as 'Supplier' for supplier in supplierNames track by supplier" data-ng-model="transaction.transaction.supplier" data-add-new-dropdown data-add-new-event="selectPersonType" data-change-event="retrieveSupplierBillsAndSupplierCredits" data-customer-supplier-dropdown>
                        </select>
                      </div>                  
                      <div class="col-md-6 mbv-1">
                        <select data-ng-model="transaction.billPayment.account" placeholder="Select an account..." data-ng-options="account.value as account.label for account in accountNamesByCategoryType track by account.value" data-account-dropdown data-add-new-event="showCreateAccountDialog"></select>
                      </div>
                    </div>

                    <table class="table table-bordered tbl-invc table-responsive valign" id="supplierBills" data-ng-if="transaction.transaction.supplierBills&&transaction.transaction.supplierBills.length!=0">
                      <thead>
                        <tr>
                          <td width="5%" align="center"> <input type="checkbox" data-ng-model="transaction.allBillsChecked" data-ng-change="checkAllBills()"> </td> 
                          <th width="35%">Payee</th>
                          <th width="15%">Due Date</th>
                          <th width="15%">Original Amount</th>
                          <th width="15%">Open Balance</th>
                          <th width="15%">Payment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <form class="form form-validation form-invoice-items" novalidate>
                          <tr data-ng-repeat="bill in transaction.transaction.supplierBills">
                            <td align="center"> <input type="checkbox" data-ng-model="bill.checked" data-ng-change="checkBill( bill )"> </td>
                            <td> Bill ({{ bill.date }}) </td>
                            <td> {{ bill.due_date }} </td>
                            <td> {{ bill.total }} </td>
                            <td> {{ bill.balance }} </td>
                            <td>
                              <input class="form-control" type="number" data-ng-model="bill.amount" data-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required data-ng-change="setBillAmount( bill )">
                            </td>
                          </tr>
                        </form>
                      </tbody>
                    </table>

                    <table class="table table-bordered tbl-invc table-responsive valign" id="supplierCredits" data-ng-if="transaction.transaction.supplierCredits&&transaction.transaction.supplierCredits.length!=0">
                      <thead>
                        <tr>
                          <td width="5%" align="center"> <input type="checkbox" data-ng-model="transaction.allSupplierCreditsChecked" data-ng-change="checkAllSupplierCredits()"> </td> 
                          <th width="50%">Payee</th>
                          <th width="15%">Original Amount</th>
                          <th width="15%">Open Balance</th>
                          <th width="15%">Payment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <form class="form form-validation form-invoice-items" novalidate>
                          <tr data-ng-repeat="supplierCredit in transaction.transaction.supplierCredits">
                            <td align="center"> <input type="checkbox" data-ng-model="supplierCredit.checked" data-ng-change="checkSupplierCredit( supplierCredit )"> </td>
                            <td> Supplier Credit ({{ supplierCredit.date }}) </td>
                            <td> {{ supplierCredit.total }} </td>
                            <td> {{ supplierCredit.balance }} </td>
                            <td>
                              <input class="form-control" type="number" data-ng-model="supplierCredit.amount" data-ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required data-ng-change="setSupplierCreditAmount( supplierCredit )">
                            </td>
                          </tr>
                        </form>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-md-12 print-hidden">
                        <div class="form-group row">
                          <label class="col-md-2 label-control">Payment</label>
                          <div class="col-md-6 from_date">
                            <div class="input-group">
                              <input type="text" class="form-control dp-month-year" data-ng-model="transaction.transaction.date"/>
                              <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-md-2 label-control">Note</label>
                          <div class="col-md-6">
                             <textarea class="form-control" placeholder="Note" data-ng-model="transaction.billPayment.note"></textarea>
                          </div>
                        </div>
                        <div class="form-group row hidden">
                          <label class="col-md-2 label-control">Id</label>
                          <div class="col-md-6">
                             <textarea class="form-control" placeholder="Note" data-ng-model="transaction.payment.id"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group row print-hidden">
                          <label class="col-md-3 label-control">File Upload</label>
                          <div class="col-md-9">
                            <div class="drag-drop-file">
                              <form action="#/" class="dropzone" id="dpz-single-file"></form>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4"> </div>
                          <div class="col-md-8">
                            <fieldset class="form-group has-feedback">
                              <div class="help-block font-small-3 errors" data-ng-repeat="errorMessage in errorMessages"> {{ errorMessage }} </div>
                            </fieldset>
                          </div>
                        </div>
                        <div class="row print-hidden">
                          <div class="col-md-12 text-md-right btn-4grp" style="top: -20px">
                            <div class="form-group btn-rgt-grp">
                              <button class="btn btn-secondary mr-1 mb-1" data-ng-click="showDeleteTransactionDialog()">Delete</button>
                              <button class="btn btn-secondary mb-1 mr-1" data-ng-click="print()">Print</button>
                              <button class="btn btn-secondary mb-1 mr-1" data-ng-click="clearAll()">Clear</button>
                              <button class="btn btn-primary mb-1 mr-1" data-ng-click="createOrUpdate(false)">Save & Close</button>
                              <button class="btn btn-primary mb-1" data-ng-click="createOrUpdate(true)">Save & New</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>