<div data-ng-controller="ChartOfAccountCtrl" class="robust-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">Chart of Accounts</h2>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Chart Accounts</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right text-md-right col-md-6 col-xs-12 topHR-Btn">
        <button type="button" class="btn btn-primary ncs" data-ng-click="showCreateAccountDialog()"><i class="icon-plus-circle"></i> Add New Account</button>
      </div>
      <div class="modal fade text-xs-left" id="accountDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-sej-account-dialog data-create-event="createAccount" data-update-event="updateAccount"> </div>

      <div class="modal fade text-xs-left" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-sej-delete-confirm-dialog data-delete-event="deleteAccount" data-target-name="account"> </div>

      <p class="m-0">&nbsp;</p>
    </div>

    <div class="content-body">
      <section>
        <div class="row">
          <div class="col-xs-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Heading</h4>
                <div class="heading-elements">
                  <ul class="list-inline mb-0" data-ng-show="!isMassEditMode">
                    <li><a data-action="collapse"><i class="icon-pencil3" data-ng-click="enableMassEditMode()"></i></a></li>
                    <li><a data-action="collapse"><i class="icon-file-excel-o"></i></a></li>
                    <li><a data-action="reload"><i class="icon-print"></i></a></li>
                  </ul>
                  <div data-ng-show="isMassEditMode">
                    <button class="btn btn-primary" data-ng-click="cancelMassEditMode()"> Cancel </button>
                    <button class="btn btn-primary" data-ng-click="massUpdate()"> Save </button>
                  </div>
                </div>
              </div>
              <div class="card-body" id="base-style">
                <div class="card-block card-dashboard">
                  <table id="datatable" class="table table-striped table-bordered"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>