<div class="horizontal-layout horizontal-menu  2-columns">
  <!-- navbar-fixed-top-->
  <nav class="topnav-bar header-navbar navbar navbar-with-menu navbar-light navbar-border navbar-brand-center">
    <div class="container">
      <div class="navbar-wrapper">
        <div>
           <span class="nav-item">
			  <a href="index.html" class="navbar-brand nav-link">
				 <img alt="branding logo" src="img/logo/robust-logo-dark.png" data-expand="img/logo/robust-logo-dark.png" data-collapse="img/logo/robust-logo-small.png" class="brand-logo collapse in" style="height: auto; margin-top:14px">
			  </a>
		   </span>
        </div>       
      </div>
    </div>
  </nav>
</div>
<div class="robust-content container center-layout mt-2">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <div class="content-header-left col-md-9 col-xs-12">
        <h2 class="content-header-title mb-0">License Agreement</h2>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#/signin">Home</a></li>
              <li class="breadcrumb-item active">License Agreement
              </li>
            </ol>
          </div>
        </div>
      </div>
      <p class="m-0">&nbsp;</p>
    </div>

    <div class="content-body">
      <section>
        <div class="row">
          <div class="col-xs-12">
            <div class="card">
              <div class="card-header">
                <h4>Legal Information</h4>               
              </div>
              <div class="card-body" id="base-style">
                <div class="card-block card-dashboard">                  
					<div class="card-block">
						<h4 class="card-title">Sejllat Information</h4>
						<p>  Features and services within Sejllat products may be the subject matter of pending and issued patents assigned to Sejllat Inc.</p>
						<hr>
						<h4 class="card-title">Trademark Information</h4>
						<p>  Sejllat, the Sejllat logo, Quicken, QuickBooks, TurboTax, Mint, Lacerte, ProSeries and QuickBase, among others, are registered trademarks and/or registered service marks of Sejllat Inc., or one of its subsidiaries, in the United States and other countries. For more information on Sejllat's trademarks, please see our Trademark Information and Restrictions page.</p>
						<hr>
						<h4 class="card-title">Copyright Information</h4>
						<p>  Sejllat's products, services, Web content and related materials (collectively, "Offerings") are owned by Sejllat and/or its licensors, and all rights in such Offerings are reserved by Sejllat and/or its licensors. For information regarding permission to use screen displays and other content, please see Sejllat's Permissions Policy.
							Sejllat's Anti-Piracy Information resource provides basic information on software piracy and its negative effects on businesses and consumers, including the risks associated with purchasing or using counterfeit CD media. This resource also includes information on how to check certain products for authenticity and how to report piracy directly to Sejllat.</p>
						<hr>
						<h4 class="card-title">Notices of Infringement</h4>
						<p>  Persons who believe that their copyrights have been infringed via Sejllat sites may notify Sejllat's Designated Agent. All notices must comply with the requirements of U.S. Copyright Act 17 U.S.C. 512(c)(3) and regulations promulgated thereunder, each as amended. Such notices not complying with these requirements will be returned unprocessed. No other notices or inquiries of any type, including requests for information, purchase or technical support questions, notices of infringement of third-party trademark or patent rights, employment inquiries, press inquiries, or investor inquiries, will be read or answered under this Agent and Agent Address.</p>
						<hr>
						<h4 class="card-title">Licensing and Support</h4>
						<p>  For licensing and product support related inquiries, please refer to Sejllat Support.</p>
						<hr>
						<h4 class="card-title">Content</h4>
						<p>  You are responsible for your content.  You are responsible for all materials ("Content") uploaded, posted or stored through your use of the Software. You grant Sejllat a worldwide, royalty-free, non-exclusive license to host and use any Content provided through your use of the Software. Archive your Content frequently. You are responsible for lost or unrecoverable Content. You must provide all required and appropriate warnings, information and disclosures. Sejllat is not responsible for the Content or data you provide through your use of the Software.</p>
						<hr>
						<h4 class="card-title">Changes</h4>
						<p>  Sejllat may, in its sole discretion and without notice, restrict, deny, terminate this Agreement, or suspend the Software, related online services, or other Sejllat Services effective immediately, in whole or in part, for suspicion of fraud, security, illegal activity or unauthorized access issues to protect the integrity of the Software or our Services or systems and comply with applicable Sejllat policy, or if you fail to comply with this Agreement or if you no longer agree to receive electronic communications. Upon termination you must immediately stop using the Software or applicable services and any outstanding payments will become due. Any termination of this Agreement shall not affect Sejllat’s rights to any payments due to it. Sejllat may terminate a free account at any time. Sections 2.2, 3 through 14 will survive and remain in effect even if the Agreement is terminated.</p>
					</div>					 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    </div>

  </div>
  
</div>
<div class="horizontal-layout horizontal-menu  2-columns">
  <footer class="footer footer-light">
    <p class="clearfix text-muted text-sm-center mb-0 px-2">
    	<span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 
    		<a href="http://www.sejllat.com" target="_blank" class="text-bold-800 grey darken-2">Sejllat.com </a>, 
    		All rights reserved. 
    	</span>
    	<span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted &amp; Made with 
    		<i class="icon-heart5 pink"></i>
    	</span>
    </p>
  </footer>
</div>